*.pyc
.env

data.dev/
http_downloader_config/downloader.crontab
http_downloader_config/gallery-dl.conf.json
http_downloader_config/gallery-dl.cookies.json

# draw.io diagrams backups
docs/*.drawio.bkp
docs/*.drawio.dtmp

# Mat migrations manager
db/migrations.yml
