*.pyc
venv
.env

data.dev/
config/synchronizer/src_sync.crontab
config/http_downloader/gallery-dl.conf.json
config/http_downloader/gallery-dl.cookies.json

# draw.io diagrams backups
docs/*.drawio.bkp
docs/*.drawio.dtmp

# Mat migrations manager
db/migrations.yml

# Obsidian vault for documentation
docs/.obsidian
