RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=galleries
RABBITMQ_PASS=

CONTENT_ROOT=/absolute/path/to/sources/downloaded/content
CONFIG_PATH=/galleries/configuration/path
RUNTIME_PATH=/absolute/path/to/runtime
