TZ=America/Mexico_City

# Use 'id -u' and 'id -g' to get right values for your own env
UID=1000
GID=1000

MONGODB_HOST=host.docker.internal
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=

RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=

CACHE_HOST=host.docker.internal
CACHE_PORT=6379

GALLERIES_CONTENT_ROOT=
GALLERIES_TRANSFORMATIONS_ROOT=
CONFIG_PATH=
RUNTIME_PATH=