
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=gl
MYSQL_USER=galleries
MYSQL_PASSWORD=

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=galleries
RABBITMQ_PASS=

REDIS_HOST=localhost
REDIS_PORT=6379

CONTENT_ROOT=/absolute/path/to/sources/downloaded/content/root
RUNTIME_PATH=/absolute/path/to/runtime/directory