
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_VHOST=/

AMQP_EXCHANGE=GL_EXCHANGE
AMQP_QUEUE_SCAN_REQUESTS=GL_SCAN_REQUESTS
AMQP_QUEUE_THUMB_REQUESTS=GL_GEN_THUMB_REQUESTS
